* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    height: 100vh;
    width: 100vw;
    background: #23313f;
    padding: 24px;
    overflow-x: hidden;
}